* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.root {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
